body{
    background-color: lightgray;
}
.paper{
    height:11in;
    width:8.5in;
    margin:auto;
    background-color: white;
}
.margin{
    display:inline-block;
    margin:.75in 1.25in;
}
h1{
    font-family:'Playfair Display';
    color:#f75d5d;
    font-size:14px;
}
h3{
    font-family:'Playfair Display';
    font-size:11px;
}
span{
    font-family:'Playfair Display';
    font-weight:400;
    font-style: italic;
}
.mainFontStyle{
    font-family:'Lato';
    font-size:10px;
}
.contactInfo{
    font-size:9px;
    font-family:'Lato';
    display:inline-block;
}
.split{
    display:flex;
    align-items:space-evenly;
}
.date{
    font-size:9px;
    font-family:'Lato';
    color:#666666
}